<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
	</head>
	<body>
		<h3>Welcome to spring social facebook example</h3>
				
		<form action="/profile" method="GET">
			<button type="submit">Log In</button>
		</form>
		
		<br/>
				
		<form action="/registerForm" method="GET">
			<button type="submit">Register</button>
		</form>
		
		<br/>
				
		<form action="/connect/facebook" method="POST">
			<input type="hidden" name="scope" value="read_stream" />
			<button type="submit">Connect with Facebook</button>
		</form>
		
	</body>
</html>